node_modules/
.screenshots/
web/dist/
web/.vite/

.env
.env.*
!.env.example



hardware/cad/final_aarambhsat.zip
hardware/schematics/AarambhSat-schematic-diagram.pdf
hardware/datasheets/
docs/future-scope.md
stitch/
